@model TrInfoViewModel

@{
    ViewData["Title"] = "Transfer Request Info";
}


<div class="card mb-2 border-white text-white">
    <h2 class="card-header border-white">@Model.Item.Name</h2>
    <div class="card-body border-white">
        @if (!string.IsNullOrWhiteSpace(Model.Item.Description))
        {
            <h3 class="card-title">Item Description</h3>
            var lines = Model.Item.Description.Split(new[] { '\r', '\n' }, StringSplitOptions.RemoveEmptyEntries);
            foreach (var line in lines)
            {
                <p class="card-text" style="display:inline">
                    @(line)<br />
                </p>
            }

            <hr />
        }
        
        <h3 class="card-title">Request Details</h3>
        <p class="card-subtitle">Quantity: @Model.TransferRequest.Quantity</p>
        <p class="card-subtitle">From Origin: @(Model.TransferRequest.OriginLocation.Name)</p>
        <p class="card-subtitle">To Destination: @Model.TransferRequest.DestinationLocation.Name</p>
        <hr />

        <h3 class="card-title">Request Status: @Model.TransferRequest.Status.Status</h3>
        @if(!string.IsNullOrEmpty(Model.TransferRequest.Status.TrackingInfo))
        {
            <p class="card-text" style="display:inline">Tracking Info: @Model.TransferRequest.Status.TrackingInfo<br /></p>
        }
        @if (!string.IsNullOrEmpty(Model.TransferRequest.Status.CancellationReason))
        {
            <p class="card-text" style="display:inline">CancellationReason: @Model.TransferRequest.Status.CancellationReason<br /></p>
        }
        <hr />
    
        @if(!string.IsNullOrWhiteSpace(Model.TransferRequest.MiscNotes))
        {
            <h3 class="card-title">Miscellaneous Notes</h3>
            var lines = Model.TransferRequest.MiscNotes.Split(new[] { '\r', '\n' }, StringSplitOptions.RemoveEmptyEntries);
            
            foreach (var line in lines)
            {
                <p class="card-text" style="display:inline">
                    @(line)<br />
                </p>
            }
            <hr />
        }

    </div>
    @* <div class="card-footer border-white text-muted">
        card footer
    </div> *@
</div>

<div class="row p-1">
    <div class="col-6 col-md-3">
        <div class="w-100 btn-group" role="group">
            @await Html.PartialAsync("_BackButton", Model.BackLocation)
        </div>
    </div>
    <div class="col-6 col-md-3">
    </div>
</div>
