@model TrUpsertViewModel

@{
    ViewData["Title"] = $"{(Model.TransferRequest.Id != 0 ? "Edit" : "Create")} Transfer Request";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                <i class="bi bi-truck"></i> @(Model.TransferRequest.Id != 0 ? "Edit" : "Create") Transfer Request
            </h2>
            <hr />
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="TransferRequest.Id" hidden />
        <input asp-for="TransferRequest.CompanyId" hidden />
        <input asp-for="TransferRequest.Company" hidden />
        <input asp-for="TransferRequest.StatusId" hidden />
        <input asp-for="TransferRequest.Status" hidden />
        <input asp-for="TransferRequest.ItemBlob" hidden />
        <input asp-for="TransferRequest.Archived" hidden />

        @if (Model.BackLocation != null)
        {
            <input asp-for="@Model.BackLocation.Id" hidden />
            <input asp-for="@Model.BackLocation.Name" hidden />
        }

        <div class="py-2 col-12">
            <label asp-for="Item.Name" class="p-0"></label>
            <input asp-for="Item.Name" type="text" class="form-control" />
            <span asp-validation-for="Item.Name" class="text-danger"></span>
        </div>

        <div class="py-2 col-12">
            <label asp-for="Item.Description" class="ms-2 text-muted"></label>
            <textarea asp-for="Item.Description" class="form-control border-0 shadow"></textarea>
            <span asp-validation-for="Item.Description" class="text-danger"></span>
        </div>

        <div class="py-2 col-12">
            <label asp-for="TransferRequest.Quantity" class="p-0"></label>
            <input asp-for="TransferRequest.Quantity" type="text" class="form-control" />
            <span asp-validation-for="TransferRequest.Quantity" class="text-danger"></span>
        </div>

        <div class="form-floating py-2 col-12">
            <select asp-for="TransferRequest.OriginLocationId" asp-items="@Model.CompanyLocationsList" class="form-select border-0 shadow">
                <option disabled selected>--Select Origin Location--</option>
            </select>
            <label asp-for="TransferRequest.OriginLocationId" class="ms-2 text-black"></label>
            <span asp-validation-for="TransferRequest.OriginLocationId" class="text-danger"></span>
        </div>

        <div class="form-floating py-2 col-12">
            <select asp-for="TransferRequest.DestinationLocationId" asp-items="@Model.CompanyLocationsList" class="form-select border-0 shadow">
                <option disabled selected>--Select Destination Location--</option>
            </select>
            <label asp-for="TransferRequest.DestinationLocationId" class="ms-2 text-black"></label>
            <span asp-validation-for="TransferRequest.DestinationLocationId" class="text-danger"></span>
        </div>

        <div class="py-2 col-12">
            <label asp-for="TransferRequest.MiscNotes" class="ms-2 text-muted"></label>
            <textarea asp-for="TransferRequest.MiscNotes" class="form-control border-0 shadow"></textarea>
            <span asp-validation-for="TransferRequest.MiscNotes" class="text-danger"></span>
        </div>

        <div class="row p-1">
            <div class="col-12 col-md-6">
                <div class="w-100 btn-group" role="group">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-check-circle"></i> @(Model.TransferRequest.Id != 0 ? "Update" : "Create")
                    </button>
                    @await Html.PartialAsync("_BackButton", Model.BackLocation)
                </div>
            </div>
        </div>



    </div>
</form>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}