@model Location

@{
    ViewData["Title"] = Model.Name;
}

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h1 class="text-primary">
                <i class="bi bi-pin-map"></i> @Model.Name
            </h1>
        </div>
        <div class="col-6 text-end">
        </div>
    </div>
</div>

<hr />


<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                <i class="bi bi-truck"></i> Transfer Requests From This Origin
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="TransferRequest" asp-action="Upsert" asp-route-originLocationId="@Model.Id" asp-route-backLocationId="@Model.Id" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Transfer Request From Origin @Model.Name
            </a>
        </div>
    </div>
</div>

<hr />

 
@await Html.PartialAsync(
    "../TransferRequest/_TransferRequestsTable.cshtml",
    new TrTableViewModel
    {
        TransferRequests = Model.TransferRequestsFromThisOrigin,
        TableOptions = TrTableOptions.ForLocationView(Model.Id)
    }
)

<hr />



<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                <i class="bi bi-truck"></i> Transfer Requests To This Destination
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="TransferRequest" asp-action="Upsert" asp-route-destinationLocationId="@Model.Id" asp-route-backLocationId="@Model.Id" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Transfer Request To Destination @Model.Name
            </a>
        </div>
    </div>
</div>

<hr />

@await Html.PartialAsync(
    "../TransferRequest/_TransferRequestsTable.cshtml",
    new TrTableViewModel
    {
        TransferRequests = Model.TransferRequestsToThisDestination,
        TableOptions = TrTableOptions.ForLocationView(Model.Id)
    }
)


<hr />

<div class="row mt-3">
    <div class="col-6 col-md-3">
        <a asp-controller="Company" asp-action="Index" asp-route-companyId="@Model.CompanyId" class="btn btn-secondary border form-control">
            <i class="bi bi-arrow-left-circle"></i> Back to Company View
        </a>
    </div>
    <div class="col-6 col-md-3">
    </div>
</div>

